//	Typography

h1, h2, h3, h4, h5, h6
  font-family: $montserrat
  font-weight: 400
  color: black
  margin: 0

h1
  font-size: 68px
  line-height: 1.05
  letter-spacing: -1px
  text-align: center

h2
  font-size: 42px
  line-height: 1.14

h3
  font-size: 26px
  line-height: 1.38

h4
  font-size: 22px
  line-height: 1.38

h5
  font-size: 12px



p
  margin-top: 10px
  margin-bottom: 40px
  font-size: 12px
  transition: font-size .2s ease

em
  font-style: italic

strong
  font-weight: bold

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0

ul
  font-family: $raleway

// Links

a
  color: grey
  text-decoration: underline
  transition: color .2s ease

  &:hover
    color: lighten(grey, 20%)


// Basic Styles
*
  margin: 0
  padding: 0

html,
body
  min-height: 100vh

body
  transition: font-size .2s ease
  background: white
  font-size: 14px
  line-height: 1.6
  font-family: $raleway
  color: black
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
