<footer>

  <div class="side-note">
  Contact me at <a class="email-link" href="mailto:pkpbynum@gmail.com">pkpbynum@gmail.com</a>
  </div>

  <div class="footer-nav">
    <a class="footer-link animsition-link" href="#">home</a>
    <a class="footer-link animsition-link" href="#">music</a>
    <a class="footer-link animsition-link" href="#">photos</a>
    <a class="footer-link animsition-link" href="#">blog</a>
  </div>

  <div class="side-note">
    Design & code by Peter Bynum
  </div>




</footer>
