
<div class="content-wrap">

  <p class="big-letter">It’s quiet in Vermont—absurdly quiet… But never too quiet.</p>

  <p>Every day of my childhood, I listened as I walked home from school. If I listened hard enough, I heard the wind whipping the trees into a shimmying frenzy; the little stream doing acrobatics along the dirt road to my house, tumbling and turning; at night, the hushed forest emanating a subtle, sleepy hum. I loved growing up in Vermont, and its quiet serenity has left an indelible mark on my identity.</p>

  <div class="body-divider"></div>

  <p>I originally come from a small, hilly town called Norwich. The population was 3,000, but it always felt like significantly less than that because all of the residents were insterspersed throughout the woods. I lived with my mom, dad, older brother, and two dogs three miles out from what might be called "downtown." My commute to school was 45-minutes and, during high school, involved crossing the border into New Hampshire. </p>

  <p>Norwich rests along the Connecticut River on Vermont's eastern border with New Hampshire. Just across the bridge lie the town of Hanover—home of Dartmouth College. Being near to the college and medical school meant that my community was largely  made up of scholars, professors, doctors, and of course, talented students.</p>

  <p>I was constantly steeped in a high-level environment which always challenged me to improve. In school I studied hard and excelled particularly in music, math, and science. During my junior year I took a computer programming class and thoroughly enjoyed. In my own time, I began to explore the other applications of computer science, which led me to design and build this website. Finally, for my senior year of high school I left home and went to the Interlochen Arts Academy in Michigan to focus more of my studies on music.</p>

  <p>Norwich rests along the Connecticut River on Vermont's eastern border with New Hampshire. Just across the bridge lie the town of Hanover—home of Dartmouth College. Being near to the college and medical school meant that my community was largely  made up of scholars, professors, doctors, and of course, talented students.</p>

  <a class="see-music-btn" href="#">See Music >></a>
</div>
