<header class="home-header">

  <div class="title-wrap">
    <h1 class="header-title">Peter Bynum</h1>
    <div class="header-divider"></div>
    <h3 class="header-subtitle">stu · dent</h3>
    <div class="definition-wrap">
      <h5>1: scholar, learner</h5>
      <h5>2: an attentive and systematic observer</h5>
      <h5 class="mw-citation">Merriam-Webster</h5>
    </div>
  </div>


  <nav>
    <ul class="navigation">
      <li><a href="#">home</a></li>
      <li><a href="#">music</a></li>
      <li><a href="#">photos</a></li>
      <li><a href="#">blog</a></li>
    </ul>
  </nav>

</header>
