
<div class="content-wrap">

  <p class="big-letter">I started playing flute in my elementary school band program in 5th grade. Originally, the choice of instrument was made purely out of convenience:  my mother had played flute when she was in school,  so I could use her old flute instead of renting one. One thing led to another and now it's what I do.</p>

  <div class="body-divider"></div>

  <p>Here's some of my work. Check out my <a href="https://www.youtube.com/channel/UC0Y4sBWHIa9q3kHKidQAxtg?view_as=subscriber">YouTube</a> channel for more.</p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/ClisLP_1DbQ?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/jhXE-bm-iJg?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/yLd3SeQPKbM?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <a href="https://docs.google.com/document/d/17eiAL9w4CX38LLj0Jn2zVNxGMbRHHsWou5igQfG8i7k/edit?usp=sharing">Resumé and Repertoire List</a>

</div>
