nav
  position: absolute
  bottom: 20px
  left: 50%
  padding: 0 20px
  width: 280px
  transform: translate(-50%, 0)

  ul
    display: flex
    justify-content: space-between
    flex-direction: row
    font-size: 1.1em
    opacity: 0.7
    transition: opacity 300ms ease-in-out
    list-style: none

    &:hover
      opacity: 1

    li
      text-align: center

      a
        display: inline-block
        position: relative
        left: 0
        right: 280px
        width: 70px

    li:last-child
      a::after
        content: ""
        position: absolute
        bottom: -3px
        right: inherit
        background: white
        opacity: 0
        width: 70px
        height: 3px
        transition: right 500ms, opacity 300ms
        pointer-events: none

    li:nth-child(1):hover
      ~ li:last-child
          a
            right: 210px
            &::after
              opacity: 1

    li:nth-child(2):hover
      ~ li:last-child
          a
            right: 140px
            &::after
              opacity: 1

    li:nth-child(3):hover
      ~ li:last-child
          a
            right: 70px
            &::after
              opacity: 1

    li:last-child:hover
        a
          right: 0px
          &::after
            opacity: 1
